In [1]:
# key : value pairs
# keys we will be unique
# : is called a delimiter
# QUESTION  #  multiple keys same value
# ANSWER    #  key should be immutable object aur usme list deni ho toh tuple dena padega

In [12]:
d1 = {"k1":1, "k2":2, "k3":3, "k4":4}
d2 = {"x1":5, "x2":6, "x3":7, "x4":8}
d3 = {'England': 'Root', 'Australia': 'Smith', 'India': 'Virat','Pakistan': 'Sarfraz'}
d4 = {"a1":[1,2,3], "a2":[4,5,6], "a3":[7,8,9], "a4":["a","b","c"]}
print(d1)


print(d2)


print(d3)


print(d4)


d5 = {"z1":d1,"z2":d2, "z3":d3, "z4":d4}
print(d5)

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}
{'x1': 5, 'x2': 6, 'x3': 7, 'x4': 8}
{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat', 'Pakistan': 'Sarfraz'}
{'a1': [1, 2, 3], 'a2': [4, 5, 6], 'a3': [7, 8, 9], 'a4': ['a', 'b', 'c']}
{'z1': {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}, 'z2': {'x1': 5, 'x2': 6, 'x3': 7, 'x4': 8}, 'z3': {'England': 'Root', 'Australia': 'Smith', 'India': 'Virat', 'Pakistan': 'Sarfraz'}, 'z4': {'a1': [1, 2, 3], 'a2': [4, 5, 6], 'a3': [7, 8, 9], 'a4': ['a', 'b', 'c']}}

In [7]:
d1.copy()

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [5]:
d1.fromkeys("k1","k2") # for all keys i want same value

{'k': 'k2', '1': 'k2'}

In [22]:
s1=dict.fromkeys(("a","b","c","d"),(10,20,30,40))
print(s1)

{'a': (10, 20, 30, 40), 'b': (10, 20, 30, 40), 'c': (10, 20, 30, 40), 'd': (10, 20, 30, 40)}

In [13]:
d4

{'a1': [1, 2, 3], 'a2': [4, 5, 6], 'a3': [7, 8, 9], 'a4': ['a', 'b', 'c']}

In [15]:
d4.get("a2")

[4, 5, 6]

In [16]:
d4.items()

dict_items([('a1', [1, 2, 3]), ('a2', [4, 5, 6]), ('a3', [7, 8, 9]), ('a4', ['a', 'b', 'c'])])

In [17]:
d4.keys()

dict_keys(['a1', 'a2', 'a3', 'a4'])

In [31]:
d4 = {"a1":[1,2,3], "a2":[4,5,6], "a3":[7,8,9], "a4":["a","b","c"]}
d4.pop("a1",0)

[1, 2, 3]

In [32]:
d4

{'a2': [4, 5, 6], 'a3': [7, 8, 9], 'a4': ['a', 'b', 'c']}

In [29]:
d4.popitem()

('a4', ['a', 'b', 'c'])

In [30]:
d4

{'a2': [4, 5, 6], 'a3': [7, 8, 9]}

In [38]:
d4 = {"a1":[1,2,3], "a2":[4,5,6], "a3":[7,8,9], "a4":["a","b","c"]}
d4.pop("a1"[0])

KeyError: 'a'

In [47]:
d4.update(d2)

In [48]:
d4

{'a1': [1, 2, 3],
 'a2': [4, 5, 6],
 'a3': [7, 8, 9],
 'a4': ['a', 'b', 'c'],
 'x1': 5,
 'x2': 6,
 'x3': 7,
 'x4': 8}

In [49]:
all(d4)

True

In [50]:
any(d4)

True

In [51]:
len(d4)

8

In [52]:
sorted(d4)

['a1', 'a2', 'a3', 'a4', 'x1', 'x2', 'x3', 'x4']

In [60]:
dx = {"a1":{"name":"rishik","age":24, "edu":"nothing"}, "a2":{"name":"atul","age":26, "edu":"something"}, "a3":{"name":"shakti","age":22,"edu":5}}

In [61]:
dx

{'a1': {'name': 'rishik', 'age': 24, 'edu': 'nothing'},
 'a2': {'name': 'atul', 'age': 26, 'edu': 'something'},
 'a3': {'name': 'shakti', 'age': 22, 'edu': 5}}

In [ ]:
prime= int(input("enter test numbers"))