In [1]:
# cant access individual elements as the set is unordered
# distinct and unique
# union and intersection
# set differnce anly uncomman value of a will remain and b will go A-B {1,2,3,4} - {5,6,3,2} = {1,4}
# symmetric dif real dif |a-b| (comman will be removed) A-B {1,2,3,4} - {5,6,3,2} = {1,4,5,6}

# question # symbols for subsets

In [2]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [6]:
a = {1,2,3,4,5}
b = {4,5,6,7,8,9}

In [8]:
a.add(20)
print(a)

{1, 2, 3, 4, 5, 20}

In [9]:
a.clear()

In [11]:
print(a)

set()

In [14]:
a = {1,2,3,4,5}
a.copy()

{1, 2, 3, 4, 5}

In [19]:
b.difference(a)

{6, 7, 8, 9}

In [20]:
a-b

{1, 2, 3}

In [21]:
b-a

{6, 7, 8, 9}

In [22]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
print(a.difference_update(b))

None

In [26]:
b.discard(7)
print(b)

{4, 5, 6, 8, 9}

In [32]:
a={1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [29]:
b

{4, 5, 6, 8, 9}

In [33]:
a.intersection(b)

{4, 5}

In [36]:
b.isdisjoint(a)

False

In [37]:
a.issubset(b)

False

In [38]:
a.issubset(a)

True

In [39]:
a.issuperset(b)

False

In [40]:
x={1,2,3,4,5,6,78,9,3,4,56,7,776,534,24,253453,34}
x.pop()

1

In [41]:
x.pop()

2

In [45]:
print(x) # random order

{5, 6, 7, 776, 9, 34, 253453, 78, 534, 56, 24}

In [46]:
x # increasing order

{5, 6, 7, 9, 24, 34, 56, 78, 534, 776, 253453}

In [42]:
x.pop()

3

In [44]:
x.pop()

4

In [53]:
x.remove(5)
x

{6, 7, 9, 24, 34, 56, 78, 776, 253453}

In [54]:
print(x)

{6, 7, 776, 9, 34, 253453, 78, 56, 24}

In [55]:
a.symmetric_difference(b)

{1, 2, 3, 6, 8, 9}

In [56]:
b.symmetric_difference(a)

{1, 2, 3, 6, 8, 9}

In [60]:
print(a.symmetric_difference_update(x))

None

In [61]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 24, 34, 56, 78, 776, 253453}

In [63]:
a.update("x","y")

In [64]:
print(a)

{1, 2, 3, 'y', 4, 34, 5, 7, 6, 776, 9, 253453, 78, 56, 24, 'x'}

In [65]:
a

{1, 2, 24, 253453, 3, 34, 4, 5, 56, 6, 7, 776, 78, 9, 'x', 'y'}

In [66]:
a.pop()

1

In [67]:
a

{2, 24, 253453, 3, 34, 4, 5, 56, 6, 7, 776, 78, 9, 'x', 'y'}

In [68]:
print(a) # if only numbers unordered

{2, 3, 'y', 4, 34, 5, 7, 6, 776, 9, 253453, 78, 56, 24, 'x'}

In [69]:
a.all() # if only numbers ordered

AttributeError: 'set' object has no attribute 'all'

In [70]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s1.difference_update(s2)

In [71]:
s2

{4, 5, 6, 7, 8, 9}

In [76]:
all(s1)

True

In [74]:
any(s1)

True

In [77]:
enumerate(s1)

In [78]:
len(s1)

3

In [79]:
s1 # yahan hua hai difference update into the set

{1, 2, 3}

In [82]:
s2

{4, 5, 6, 7, 8, 9}

In [80]:
max(s1)

3

In [81]:
min(s2)

4

In [83]:
sorted(x)

[6, 7, 9, 24, 34, 56, 78, 776, 253453]

In [84]:
sum(s1)

6

In [85]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [86]:
s1 =frozenset([1,2,3,4,55,])

In [87]:
s1

frozenset({1, 2, 3, 4, 55})

In [90]:
s1[1]

TypeError: 'frozenset' object is not subscriptable

In [91]:
s1

frozenset({1, 2, 3, 4, 55})

In [92]:
s1

frozenset({1, 2, 3, 4, 55})

In [93]:
s1

frozenset({1, 2, 3, 4, 55})