# tuples 
# tuple of a single value    A = 20,

In [1]:
tup1 = (1,2,3,4,5,6,7)
tup2 = 1,2,3,4
x = (1,2,3,[4,5,6],7,"a","b","c",8,("xyz","abc","pqr"),9)
list1 = [1,2,3,(4,5,6),7,8,9]

In [2]:
type(tup1)

tuple

In [3]:
x

(1, 2, 3, [4, 5, 6], 7, 'a', 'b', 'c', 8, ('xyz', 'abc', 'pqr'), 9)

In [4]:
x[0]                                 # indexing

1

In [5]:
x[3][1]

5

In [6]:
x[-1]

9

In [7]:
x

(1, 2, 3, [4, 5, 6], 7, 'a', 'b', 'c', 8, ('xyz', 'abc', 'pqr'), 9)

In [8]:
x[0]=a

NameError: name 'a' is not defined

In [ ]:
x

## unpacking and packing of tuples

In [ ]:
tup2

In [ ]:
a,b,c,d = tup2 # unppacking

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a==d

In [ ]:
a=a+c

In [ ]:
t2 = ("dog","mango","banana","orange")

In [ ]:
animal,fruits=t2

In [ ]:
animal,*fruits,c = t2  # multiple entries after * remaining go into or assigned to the last variable (nothing but MAPPING)
#cant use star more than twice

In [ ]:
animal

In [ ]:
fruits

In [ ]:
c

In [ ]:
t2 = ("dogs","mango","banana","orange")
animal,fruit1,fruit2 = t2

In [ ]:
tt = ("dog","mango","banana","orange","xyz","pqr")

In [ ]:
*a,*b,c=tt                                      # * can be used only once

In [ ]:
t2 = ("dog","mango","banana","orange")
x = (1,2,3,[4,5,6],7,"a","b","c",8,("xyz","abc","pqr"),9)

In [ ]:
x[:] #

In [ ]:
x[2:]

In [ ]:
x[:5]

In [ ]:
x[::-1]

In [ ]:
len(x)

In [ ]:
max(x)

In [ ]:
tup1 = (1,2,3,4,5,6,7)
max(tup1)

In [ ]:
sum(tup1)

In [ ]:
min(tup1)

In [ ]:
sum(x)

In [ ]:
del(tup2)

In [ ]:
tup2

In [ ]:
# writea  program using tuple to take marks of 3 subjects and find the average and % of it
s1= int(input("m1"))
s2= int(input("m2"))
s2= int(input("m3"))
tup1=(s1,s2,s3)
avg= sum(tup1)/3

In [ ]:
print(marks)

In [ ]:
s1 = int(input("m1"))
s2 = int(input("m2"))
s2 = int(input("m3"))

In [ ]:
tup1 = s1,s2,s3
avg = sum(tup1)/len(tup1)
percent = ((sum(tup1)/300)*100)

In [ ]:
s1 = int(input("m1"))
s2 = int(input("m2"))
s2 = int(input("m3"))

In [ ]:
tup1 = (s1,s2,s3)
avg = sum(tup1)/len(tup1)
percent = ((sum(tup1)/300)*100)

In [ ]:
#write a prog to calculate area of triangle and circle

In [ ]:
pi=3.14
h= int(input("hieght"))
b= int(input("base"))
r= int(input("radius"))
avg = sum(tup1)/len(tup1)
percent = ((sum(tup1)/300)*100)
print(areaT)
print(areaC)

In [ ]:
areaT= 0.5*h*b
areaC= int(pi)*r*r

In [ ]:
areaT

In [ ]:
areaC

In [ ]:
# write a sting or no is a pallendrom
pal= input("enter your test word ")
pal==pal[::-1]

In [10]:
# write a program to cal simple interest
# p*n*r/ 100
p= float(input(" enter principal "))
n= float(input("enter no. of years "))
r= float(input("enter rate of interest"))
SI=(p*n*r)/100

 enter principal 300000
enter no. of years 345
enter rate of interest1

In [11]:
SI

1035000.0

In [ ]:
n1= input("first name ")
n2= input("mid name ")
n3= input("last name ")
abb= n1[1]+"."+,n2[1],n3"

In [ ]:
n1= input("full name ")
"n1[1]

In [14]:
#if orange is present in sentance this is orange juice

a= "this is orange juice"
"orange" in a

True

In [1]:
#gigs for geeks
#programiz
#for practicing programs

In [2]:
tup1 = (1,2,3,4,5,6,7)
tup2 = 1,2,3,4

In [6]:
w = tup1+tup2

AttributeError: 'tuple' object has no attribute 'pop'