#                             PYTHON PRESENTATION

#           TOPIC: DATE TIME AND CALENDAR MODULE

## PRESENTED BY:
 1. ATUL CHOUDHARI
 2. MOHNISH LAVANIA
 3. RAHUL SINGH
 4. RISHIK SHARMA
 5. SARANG BAGUL

# DATE-TIME :

In [76]:
#help('datetime')

## The datetime module supplies classes for manipulating dates and times in both simple and complex ways. While date and time arithmetic is supported, the focus of the implementation is on efficient member extraction for output formatting and manipulation. The module also supports objects that are timezone aware.

## Introduction
Whenever we need to work with dates, date time module provides the necessary tools. Since, it is python’s standard library part so we don’t need to install it separately.
You can see below how it is imported:

In [ ]:
import datetime

## The most important and commonly used object is the datetime class inside the datetime module.
(Please don’t get confused with the name as the module name and class name is same)
Well, besides the datetime.datetime class, we also have other 3 classes:
1. datetime class
2. date class
3. time class
4. timedelta class

## LET'S START WITH DATETIME:

# 1 - datetime.datetime.now()

In [90]:
datetime.datetime.now()
#print(datetime.datetime.now())
#IT IS USED TO GET THE CURRENT DATE AND TIME.

datetime.datetime(2020, 1, 21, 11, 22, 14, 483317)

## We can see here, the format follows YYYY,MM,DD,HH,MM,SS,MS and gives current date time in local date and time in local timezone.

# 2 - datetime.date.today( )

In [11]:
print(datetime.date.today())
datetime.date.today()
# Since, today() is a method of the datetime.date class and it doesnot contain time information.

2020-01-20

datetime.date(2020, 1, 20)

# 3 - datetime.datetime()

In [98]:
print(datetime.datetime(2015,2,20,11,30,1))

# IT IS USED FOR CREATING DATETIME OBJECT FOR ANY DATE AND TIME

2015-02-20 11:30:01

In [100]:
# To print year, month, hour, minute and timestamp

from datetime import datetime
a = datetime(2019, 1, 21, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2019
month = 1
hour = 23
minute = 55
timestamp = 1548095159.34238

# 4 - dateutil.parser
Parsing is nothing but converting datetime string to a datetime format because while working with spreadsheets columns or datasets, it can come in any format.
Any datestring can be converted to a datetime object using dateutil.

In [20]:
from dateutil.parser import parse
print(parse('January 1,2018'))
print(parse('13, july 31,2005,10:15 pm'))

2018-01-01 00:00:00
2031-07-13 22:15:00

# 5 — strftime() and strptime()
### The way date and time is represented may be different in different places, organizations etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK.

### Python has strftime() and strptime() methods to handle this.

### Formatting datetime object into any date format. We can convert any datetime object to nearly any representation of date format using strftime() method.

In [103]:
# The strftime() method is defined under classes date, datetime and time. 
# The method creates a formatted string from a given date, datetime or time object.

from datetime import datetime

# current date and time
now = datetime.now()
print("Current date and time is: ",now)
t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Current date and time is:  2020-01-21 11:39:53.494829
time: 11:39:53
s1: 01/21/2020, 11:39:53
s2: 21/01/2020, 11:39:53

In [ ]:
#dt=datetime.datetime(2011,2,3,11,51,3)
#print(dt.strftime('%y-%m-%d :: %H-%M-%S'))

In [104]:
# The strptime() method creates a datetime object from a given string (representing date and time).

from datetime import datetime
date_string = "21 January, 2020"
print("date_string =", date_string)
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

#The strptime() method takes two arguments:

# 1. A string representing date and time
# 2. format code equivalent to the first argument
# By the way, %d, %B and %Y format codes are used for day, month(full name) and year respectively.

date_string = 21 January, 2020
date_object = 2020-01-21 00:00:00

![](11.png)

![](22.png)

In [10]:
# The strptime() function parses a string representing time and returns struct_time.
time_string = "21 June, 2018"
result = time.strptime(time_string, "%d %B, %Y")
print(result)

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=172, tm_isdst=-1)

# 6 - datetime Functions

In [25]:
# TO GET CURRENT DAY OF THE MONTH
dt=datetime.datetime.now()
dt.day

20

In [27]:
# TO GET CURRENT DAY OF THE WEEK (MONDAY=1)
dt.isoweekday()

1

In [29]:
# TO GET CURRENT MONTH OF YEAR AND GET THE YEAR
print(dt.month)
print(dt.year)

1
2020

## 6.1  datetime.time()
The datetime.time() is used to represent the time component alone.

In [32]:
tm=datetime.time(10,25,29,1147)
print(tm)

10:25:29.001147

## 6.2 — datetime.timedelta
Use timedelta to get the difference between two dates or times.

In [38]:
td=datetime.timedelta(days=1)
print(datetime.datetime.today()+td)

2020-01-21 14:27:14.419995

In [41]:
# We can subtract two time deltas to get another timedelta object.
td1=datetime.timedelta(days=40)
td2=datetime.timedelta(weeks=2)
td3=td1-td2
print(td3)

26 days, 0:00:00

# 7 - pytz (Timezones)
Let’s complicate it a little more now.
Working with time zones.For time zones, python recommends pytz module which is not a standard built-in library. You need to install it separately (enter `pip install pytz` in terminal or command prompt) So how to set time zone to a particular datetime? Simply pass the respective pytz timezone object to tzinfo parameter when you create the datetime. Then, that datetime will become timezone aware. Let’s create a datetime object that belongs to UTC timezone.

In [44]:
import pytz

In [56]:
print(datetime.datetime(2001,1,31,10,10,0,tzinfo=pytz.UTC))

2001-01-31 10:10:00+00:00

## 7.1 - pytz.all_timezones

In [107]:
# SEE ALL AVAILABLE TIME-ZONE
pytz.all_timezones[:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau']

In [58]:
print(datetime.datetime(2001,1,31,10,10,0,tzinfo=pytz.timezone('Asia/Kolkata')))

2001-01-31 10:10:00+05:53

# DATE CLASS:

In [91]:
# Date object to represent a date
import datetime
d = datetime.date(2019, 4, 13)
print(d)


#If you are wondering, date() in the above example is a constructor of the date class. 
#The constructor takes three arguments: year, month and day.
#The variable 'a' is a date object.

2019-04-13

In [92]:
# We can only import date class from the datetime module. Here's how:
from datetime import date
a = date(2019, 4, 13)
print(a)
#The variable 'a' is a date object.

2019-04-13

In [93]:
# Get current date
today = date.today()
print("Current date =", today)

Current date = 2020-01-21

In [94]:
# To get year, month, day, day of the week etc. from the date object :
today = date.today() 
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2020
Current month: 1
Current day: 21

In [97]:
 # To print hour, minute, second and microsecond
from datetime import time
a = time(11, 34, 56,25874)
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 25874

# LETS SEE SOME IMPLEMENTATION:

In [63]:
import pandas as pd
import numpy as np
data=pd.read_excel('Test_set.xlsx',index_col=0)
data.head()

,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration
Airline,,,,,,
Jet Airways,6/06/2019,Delhi,Cochin,17:30,04:25 07 Jun,10h 55m
IndiGo,12/05/2019,Kolkata,Banglore,06:20,10:20,4h
Jet Airways,21/05/2019,Delhi,Cochin,19:15,19:00 22 May,23h 45m
Multiple carriers,21/05/2019,Delhi,Cochin,08:00,21:00,13h
Air Asia,24/06/2019,Banglore,Delhi,23:55,02:45 25 Jun,2h 50m

In [71]:
# Convert Date_of_Journey to datatime from which we will extract feature

data['datetime']=pd.to_datetime(data['Date_of_Journey'])

In [70]:
# Extract dayofweek from datetime

data['dow']=data['datetime'].dt.dayofweek

In [66]:
# Extract day from datetime

data['day']=data['datetime'].dt.day

In [73]:
# Extract year from datetime

data['year']=data['datetime'].dt.year

In [74]:
# Extract month from datetime

data['month']=data['datetime'].dt.month

In [75]:
data

,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,datetime,dow,day,year,month
Airline,,,,,,,,,,,
Jet Airways,6/06/2019,Delhi,Cochin,17:30,04:25 07 Jun,10h 55m,2019-06-06,3,6,2019,6
IndiGo,12/05/2019,Kolkata,Banglore,06:20,10:20,4h,2019-12-05,3,5,2019,12
Jet Airways,21/05/2019,Delhi,Cochin,19:15,19:00 22 May,23h 45m,2019-05-21,1,21,2019,5
Multiple carriers,21/05/2019,Delhi,Cochin,08:00,21:00,13h,2019-05-21,1,21,2019,5
Air Asia,24/06/2019,Banglore,Delhi,23:55,02:45 25 Jun,2h 50m,2019-06-24,0,24,2019,6
Jet Airways,12/06/2019,Delhi,Cochin,18:15,12:35 13 Jun,18h 20m,2019-12-06,4,6,2019,12
Air India,12/03/2019,Banglore,New Delhi,07:30,22:35,15h 5m,2019-12-03,1,3,2019,12
IndiGo,1/05/2019,Kolkata,Banglore,15:15,20:30,5h 15m,2019-01-05,5,5,2019,1
IndiGo,15/03/2019,Kolkata,Banglore,10:10,12:55,2h 45m,2019-03-15,4,15,2019,3
Jet Airways,18/05/2019,Kolkata,Banglore,16:30,22:35,6h 5m,2019-05-18,5,18,2019,5
Jet Airways,21/03/2019,Delhi,Cochin,13:55,18:50 22 Mar,28h 55m,2019-03-21,3,21,2019,3
IndiGo,15/06/2019,Delhi,Cochin,06:50,16:10,9h 20m,2019-06-15,5,15,2019,6
Multiple carriers,15/05/2019,Delhi,Cochin,09:00,19:15,10h 15m,2019-05-15,2,15,2019,5
Jet Airways,12/03/2019,Banglore,New Delhi,05:45,10:25,4h 40m,2019-12-03,1,3,2019,12
Jet Airways,3/06/2019,Delhi,Cochin,19:15,12:35 04 Jun,17h 20m,2019-03-06,2,6,2019,3
Jet Airways,06/03/2019,Banglore,New Delhi,21:25,08:15 07 Mar,10h 50m,2019-06-03,0,3,2019,6
Multiple carriers,6/06/2019,Delhi,Cochin,13:15,22:30,9h 15m,2019-06-06,3,6,2019,6
Vistara,24/03/2019,Kolkata,Banglore,09:55,22:10,12h 15m,2019-03-24,6,24,2019,3
Jet Airways,12/06/2019,Delhi,Cochin,19:15,04:25 13 Jun,9h 10m,2019-12-06,4,6,2019,12
Jet Airways,12/03/2019,Banglore,New Delhi,22:55,08:15 13 Mar,9h 20m,2019-12-03,1,3,2019,12
IndiGo,6/03/2019,Delhi,Cochin,10:45,01:35 07 Mar,14h 50m,2019-06-03,0,3,2019,6
Jet Airways,9/05/2019,Kolkata,Banglore,20:00,10:05 10 May,14h 5m,2019-09-05,3,5,2019,9
Jet Airways,18/03/2019,Banglore,New Delhi,21:25,09:00 16 Mar,11h 35m,2019-03-18,0,18,2019,3
Jet Airways,9/05/2019,Delhi,Cochin,05:30,19:00,13h 30m,2019-09-05,3,5,2019,9
Air India,6/04/2019,Banglore,Delhi,21:05,23:55,2h 50m,2019-06-04,1,4,2019,6
Jet Airways,21/03/2019,Delhi,Cochin,16:00,04:25 22 Mar,12h 25m,2019-03-21,3,21,2019,3
IndiGo,15/05/2019,Kolkata,Banglore,15:15,17:45,2h 30m,2019-05-15,2,15,2019,5
Jet Airways,21/05/2019,Delhi,Cochin,17:30,19:00 22 May,25h 30m,2019-05-21,1,21,2019,5
Jet Airways,6/06/2019,Delhi,Cochin,09:00,04:25 07 Jun,19h 25m,2019-06-06,3,6,2019,6
Multiple carriers,1/06/2019,Delhi,Cochin,14:00,21:00,7h,2019-01-06,6,6,2019,1
...,...,...,...,...,...,...,...,...,...,...,...
Multiple carriers,9/05/2019,Delhi,Cochin,14:00,01:30 10 May,11h 30m,2019-09-05,3,5,2019,9
Jet Airways,21/05/2019,Delhi,Cochin,22:50,12:35 22 May,13h 45m,2019-05-21,1,21,2019,5
Air India,6/06/2019,Delhi,Cochin,09:45,09:25 07 Jun,23h 40m,2019-06-06,3,6,2019,6
Multiple carriers,3/06/2019,Delhi,Cochin,07:30,19:00,11h 30m,2019-03-06,2,6,2019,3
Jet Airways,12/03/2019,Banglore,New Delhi,22:55,08:15 13 Mar,9h 20m,2019-12-03,1,3,2019,12
Jet Airways,18/05/2019,Delhi,Cochin,23:05,04:25 20 May,29h 20m,2019-05-18,5,18,2019,5
Air India,1/05/2019,Kolkata,Banglore,16:45,08:55 02 May,16h 10m,2019-01-05,5,5,2019,1
IndiGo,1/04/2019,Delhi,Cochin,21:05,00:20 02 Apr,3h 15m,2019-01-04,4,4,2019,1
SpiceJet,6/05/2019,Banglore,Delhi,05:55,08:35,2h 40m,2019-06-05,2,5,2019,6
Air India,9/05/2019,Kolkata,Banglore,05:50,08:55 10 May,27h 5m,2019-09-05,3,5,2019,9
Jet Airways,6/06/2019,Kolkata,Banglore,09:35,22:05,12h 30m,2019-06-06,3,6,2019,6
Jet Airways,12/03/2019,Banglore,New Delhi,22:55,13:15 13 Mar,14h 20m,2019-12-03,1,3,2019,12
Jet Airways,18/05/2019,Kolkata,Banglore,16:30,22:35,6h 5m,2019-05-18,5,18,2019,5
Air India,3/03/2019,Delhi,Cochin,07:00,07:40 04 Mar,24h 40m,2019-03-03,6,3,2019,3
Multiple carriers,24/06/2019,Delhi,Cochin,11:40,21:00,9h 20m,2019-06-24,0,24,2019,6
Jet Airways,12/05/2019,Kolkata,Banglore,21:10,09:20 13 May,12h 10m,2019-12-05,3,5,2019,12
Multiple carriers,6/06/2019,Delhi,Cochin,04:55,19:15,14h 20m,2019-06-06,3,6,2019,6
Jet Airways,15/06/2019,Delhi,Cochin,21:50,19:00 16 Jun,21h 10m,2019-06-15,5,15,2019,6
Jet Airways,15/06/2019,Delhi,Cochin,05:30,12:35,7h 5m,2019-06-15,5,15,2019,6
Air India,12/03/2019,Mumbai,Hyderabad,16:50,16:55,5m,2019-12-03,1,3,2019,12
Jet Airways,27/03/2019,Delhi,Cochin,19:10,04:25 29 Mar,33h 15m,2019-03-27,2,27,2019,3
Air India,21/05/2019,Mumbai,Hyderabad,13:55,15:25,1h 30m,2019-05-21,1,21,2019,5
GoAir,12/05/2019,Kolkata,Banglore,23:30,07:45 13 May,8h 15m,2019-12-05,3,5,2019,12
Multiple carriers,15/06/2019,Delhi,Cochin,15:15,01:30 16 Jun,10h 15m,2019-06-15,5,15,2019,6
SpiceJet,21/06/2019,Mumbai,Hyderabad,22:45,00:15 22 Jun,1h 30m,2019-06-21,4,21,2019,6
Air India,6/06/2019,Kolkata,Banglore,20:30,20:25 07 Jun,23h 55m,2019-06-06,3,6,2019,6
IndiGo,27/03/2019,Kolkata,Banglore,14:20,16:55,2h 35m,2019-03-27,2,27,2019,3
Jet Airways,6/03/2019,Delhi,Cochin,21:50,04:25 07 Mar,6h 35m,2019-06-03,0,3,2019,6
Air India,6/03/2019,Delhi,Cochin,04:00,19:15,15h 15m,2019-06-03,0,3,2019,6
Multiple carriers,15/06/2019,Delhi,Cochin,04:55,19:15,14h 20m,2019-06-15,5,15,2019,6

# TIME MODULE :

## The time() function returns the number of seconds passed since epoch.
## For Unix system, January 1, 1970, 00:00:00 at UTC is epoch (the point where time begins).

In [1]:
import time

In [2]:
# TO GET NUMBER OF SECONDS FROM EPOCH,
seconds = time.time()
seconds
print("Seconds since epoch =", seconds)
type(seconds)

Seconds since epoch = 1579683450.5801597

float

# time.ctime()
The time.ctime() function takes seconds passed since epoch as an argument and returns a string representing local time.

In [3]:
seconds = time.time()
local_time = time.ctime(seconds)
print("Local time:", local_time)
type(local_time)

Local time: Wed Jan 22 14:28:18 2020

str

# Python time.sleep()
The sleep() function suspends (delays) execution of the current thread for the given number of seconds.

In [4]:
print("This is printed immediately.")
time.sleep(2.4)
print("This is printed after 2.4 seconds.")

This is printed immediately.
This is printed after 2.4 seconds.

# Python time.localtime()
The localtime() function takes the number of seconds passed since epoch as an argument and returns struct_time in local time. Give information of localtime

In [5]:
result = time.localtime()
print("result:", result)

#Readable format
print("Current Date And time format 2: ",time.asctime(time.localtime(time.time())))
print("Hours:", result.tm_hour)
print("Minutes:", result.tm_min)
print("Seconds:", result.tm_sec)

result: time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=14, tm_min=29, tm_sec=8, tm_wday=2, tm_yday=22, tm_isdst=0)
Current Date And time format 2:  Wed Jan 22 14:29:08 2020
Hours: 14
Minutes: 29
Seconds: 8

# Python time.gmtime()
The gmtime() function takes the number of seconds passed since epoch as an argument and returns struct_time in Coordinated Universal Time (UTC). UTC is the time standard commonly used across the world. The world's timing centers have agreed to keep their time scales closely synchronized - or coordinated - therefore the name Coordinated Universal Time.

In [6]:
import time
result = time.gmtime()
print("result:", result)
print("Hours:", result.tm_hour)
print("Minutes:", result.tm_min)
print("Seconds:", result.tm_sec)

#If no argument or None is passed to gmtime(), the value returned by time() is used.

result: time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=8, tm_min=59, tm_sec=25, tm_wday=2, tm_yday=22, tm_isdst=0)
Hours: 8
Minutes: 59
Seconds: 25

# Python time.mktime()
The mktime() function takes struct_time (or a tuple containing 9 elements corresponding to struct_time) as an argument and returns the seconds passed since epoch in local time. Basically, it's the inverse function of localtime().¶

In [7]:
t = (2018, 12, 28, 8, 44, 4, 4, 362, 0)  #year, month, date, hour, min, sec, miliseconds
local_time = time.mktime(t)
print("Local time:", local_time)

Local time: 1545966844.0

In [8]:
# Relation between mktime() and localtime()

seconds = 1545925769
# returns struct_time
t = time.localtime(seconds)
print("t1: ", t)
# returns seconds from struct_time
s = time.mktime(t)
print("\s:", seconds)

t1:  time.struct_time(tm_year=2018, tm_mon=12, tm_mday=27, tm_hour=21, tm_min=19, tm_sec=29, tm_wday=3, tm_yday=361, tm_isdst=0)
\s: 1545925769

# Python time.asctime()
The asctime() function takes struct_time (or a tuple containing 9 elements corresponding to struct_time) as an argument and returns a string representing it. Here's an example:

In [9]:
t = (2018, 12, 28, 8, 44, 4, 4, 362, 0)
result = time.asctime(t)
print("Result:", result)

Result: Fri Dec 28 08:44:04 2018

# CALENDAR MODULE :

# we will talk about three classes in the calendar module-
### 1). Calendar ( various functions to manipulate date and time.)
### 2). TextCalendar
### 3). HTMLCalendar

In [13]:
import calendar as cd # We begin with "import calendar" which will import all the classes of this module.

In [14]:
# 1) Python Calendar Class
c=cd.Calendar(firstweekday=6)
# This creates a Calendar object with whichever day of the week we want it to begin at.
# By default, it starts at Monday with a parameter value of 0. (Sunday is 6)

## iterweekdays() – Days of week

In [15]:
# An instance of Calendar will have the following methods-
for i in c.iterweekdays():
        print(i)

6
0
1
2
3
4
5

## itermonthdates(year, month) – Dates of month¶

In [16]:
for i in c.itermonthdates(2020,1):
        print(i)

2019-12-29
2019-12-30
2019-12-31
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01

# itermonthdays(year,month) – Days of month

In [17]:
for i in c.itermonthdays(2020,1):
        print(i)

0
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0

# itermonthdays2(year,month) – Day of month, day of week

In [18]:
for i in c.itermonthdays2(2020,3):
        print(i)

(1, 6)
(2, 0)
(3, 1)
(4, 2)
(5, 3)
(6, 4)
(7, 5)
(8, 6)
(9, 0)
(10, 1)
(11, 2)
(12, 3)
(13, 4)
(14, 5)
(15, 6)
(16, 0)
(17, 1)
(18, 2)
(19, 3)
(20, 4)
(21, 5)
(22, 6)
(23, 0)
(24, 1)
(25, 2)
(26, 3)
(27, 4)
(28, 5)
(29, 6)
(30, 0)
(31, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)

# itermonthdays3(year,month) – Year, month, day of month

In [19]:
for i in c.itermonthdays3(2020,1):
        print(i)

(2019, 12, 29)
(2019, 12, 30)
(2019, 12, 31)
(2020, 1, 1)
(2020, 1, 2)
(2020, 1, 3)
(2020, 1, 4)
(2020, 1, 5)
(2020, 1, 6)
(2020, 1, 7)
(2020, 1, 8)
(2020, 1, 9)
(2020, 1, 10)
(2020, 1, 11)
(2020, 1, 12)
(2020, 1, 13)
(2020, 1, 14)
(2020, 1, 15)
(2020, 1, 16)
(2020, 1, 17)
(2020, 1, 18)
(2020, 1, 19)
(2020, 1, 20)
(2020, 1, 21)
(2020, 1, 22)
(2020, 1, 23)
(2020, 1, 24)
(2020, 1, 25)
(2020, 1, 26)
(2020, 1, 27)
(2020, 1, 28)
(2020, 1, 29)
(2020, 1, 30)
(2020, 1, 31)
(2020, 2, 1)

# itermonthdays4(year, month) – Year, month, day of month, day of week

In [20]:
for i in c.itermonthdays4(2020,1):
        print(i)

(2019, 12, 29, 6)
(2019, 12, 30, 0)
(2019, 12, 31, 1)
(2020, 1, 1, 2)
(2020, 1, 2, 3)
(2020, 1, 3, 4)
(2020, 1, 4, 5)
(2020, 1, 5, 6)
(2020, 1, 6, 0)
(2020, 1, 7, 1)
(2020, 1, 8, 2)
(2020, 1, 9, 3)
(2020, 1, 10, 4)
(2020, 1, 11, 5)
(2020, 1, 12, 6)
(2020, 1, 13, 0)
(2020, 1, 14, 1)
(2020, 1, 15, 2)
(2020, 1, 16, 3)
(2020, 1, 17, 4)
(2020, 1, 18, 5)
(2020, 1, 19, 6)
(2020, 1, 20, 0)
(2020, 1, 21, 1)
(2020, 1, 22, 2)
(2020, 1, 23, 3)
(2020, 1, 24, 4)
(2020, 1, 25, 5)
(2020, 1, 26, 6)
(2020, 1, 27, 0)
(2020, 1, 28, 1)
(2020, 1, 29, 2)
(2020, 1, 30, 3)
(2020, 1, 31, 4)
(2020, 2, 1, 5)

# monthdatescalendar(year,month) – List of weeks in month

In [21]:
for i in c.monthdatescalendar(2020,1):
        print(i)

[datetime.date(2019, 12, 29), datetime.date(2019, 12, 30), datetime.date(2019, 12, 31), datetime.date(2020, 1, 1), datetime.date(2020, 1, 2), datetime.date(2020, 1, 3), datetime.date(2020, 1, 4)]
[datetime.date(2020, 1, 5), datetime.date(2020, 1, 6), datetime.date(2020, 1, 7), datetime.date(2020, 1, 8), datetime.date(2020, 1, 9), datetime.date(2020, 1, 10), datetime.date(2020, 1, 11)]
[datetime.date(2020, 1, 12), datetime.date(2020, 1, 13), datetime.date(2020, 1, 14), datetime.date(2020, 1, 15), datetime.date(2020, 1, 16), datetime.date(2020, 1, 17), datetime.date(2020, 1, 18)]
[datetime.date(2020, 1, 19), datetime.date(2020, 1, 20), datetime.date(2020, 1, 21), datetime.date(2020, 1, 22), datetime.date(2020, 1, 23), datetime.date(2020, 1, 24), datetime.date(2020, 1, 25)]
[datetime.date(2020, 1, 26), datetime.date(2020, 1, 27), datetime.date(2020, 1, 28), datetime.date(2020, 1, 29), datetime.date(2020, 1, 30), datetime.date(2020, 1, 31), datetime.date(2020, 2, 1)]

# monthdays2calendar(year,month) – List of day of month and day of week in month

In [22]:
for i in c.monthdays2calendar(2020,1):
        print(i)

[(0, 6), (0, 0), (0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]
[(5, 6), (6, 0), (7, 1), (8, 2), (9, 3), (10, 4), (11, 5)]
[(12, 6), (13, 0), (14, 1), (15, 2), (16, 3), (17, 4), (18, 5)]
[(19, 6), (20, 0), (21, 1), (22, 2), (23, 3), (24, 4), (25, 5)]
[(26, 6), (27, 0), (28, 1), (29, 2), (30, 3), (31, 4), (0, 5)]

# monthdayscalendar(year,month) – List of day of month

In [23]:
for i in c.monthdayscalendar(2020,1):
        print(i)

[0, 0, 0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11]
[12, 13, 14, 15, 16, 17, 18]
[19, 20, 21, 22, 23, 24, 25]
[26, 27, 28, 29, 30, 31, 0]

# yeardatescalendar(year,width=3) – List of row months

In [24]:
 for i in c.yeardatescalendar(2020,2):
        print(i)

[[[datetime.date(2019, 12, 29), datetime.date(2019, 12, 30), datetime.date(2019, 12, 31), datetime.date(2020, 1, 1), datetime.date(2020, 1, 2), datetime.date(2020, 1, 3), datetime.date(2020, 1, 4)], [datetime.date(2020, 1, 5), datetime.date(2020, 1, 6), datetime.date(2020, 1, 7), datetime.date(2020, 1, 8), datetime.date(2020, 1, 9), datetime.date(2020, 1, 10), datetime.date(2020, 1, 11)], [datetime.date(2020, 1, 12), datetime.date(2020, 1, 13), datetime.date(2020, 1, 14), datetime.date(2020, 1, 15), datetime.date(2020, 1, 16), datetime.date(2020, 1, 17), datetime.date(2020, 1, 18)], [datetime.date(2020, 1, 19), datetime.date(2020, 1, 20), datetime.date(2020, 1, 21), datetime.date(2020, 1, 22), datetime.date(2020, 1, 23), datetime.date(2020, 1, 24), datetime.date(2020, 1, 25)], [datetime.date(2020, 1, 26), datetime.date(2020, 1, 27), datetime.date(2020, 1, 28), datetime.date(2020, 1, 29), datetime.date(2020, 1, 30), datetime.date(2020, 1, 31), datetime.date(2020, 2, 1)]], [[datetime.date(2020, 1, 26), datetime.date(2020, 1, 27), datetime.date(2020, 1, 28), datetime.date(2020, 1, 29), datetime.date(2020, 1, 30), datetime.date(2020, 1, 31), datetime.date(2020, 2, 1)], [datetime.date(2020, 2, 2), datetime.date(2020, 2, 3), datetime.date(2020, 2, 4), datetime.date(2020, 2, 5), datetime.date(2020, 2, 6), datetime.date(2020, 2, 7), datetime.date(2020, 2, 8)], [datetime.date(2020, 2, 9), datetime.date(2020, 2, 10), datetime.date(2020, 2, 11), datetime.date(2020, 2, 12), datetime.date(2020, 2, 13), datetime.date(2020, 2, 14), datetime.date(2020, 2, 15)], [datetime.date(2020, 2, 16), datetime.date(2020, 2, 17), datetime.date(2020, 2, 18), datetime.date(2020, 2, 19), datetime.date(2020, 2, 20), datetime.date(2020, 2, 21), datetime.date(2020, 2, 22)], [datetime.date(2020, 2, 23), datetime.date(2020, 2, 24), datetime.date(2020, 2, 25), datetime.date(2020, 2, 26), datetime.date(2020, 2, 27), datetime.date(2020, 2, 28), datetime.date(2020, 2, 29)]]]
[[[datetime.date(2020, 3, 1), datetime.date(2020, 3, 2), datetime.date(2020, 3, 3), datetime.date(2020, 3, 4), datetime.date(2020, 3, 5), datetime.date(2020, 3, 6), datetime.date(2020, 3, 7)], [datetime.date(2020, 3, 8), datetime.date(2020, 3, 9), datetime.date(2020, 3, 10), datetime.date(2020, 3, 11), datetime.date(2020, 3, 12), datetime.date(2020, 3, 13), datetime.date(2020, 3, 14)], [datetime.date(2020, 3, 15), datetime.date(2020, 3, 16), datetime.date(2020, 3, 17), datetime.date(2020, 3, 18), datetime.date(2020, 3, 19), datetime.date(2020, 3, 20), datetime.date(2020, 3, 21)], [datetime.date(2020, 3, 22), datetime.date(2020, 3, 23), datetime.date(2020, 3, 24), datetime.date(2020, 3, 25), datetime.date(2020, 3, 26), datetime.date(2020, 3, 27), datetime.date(2020, 3, 28)], [datetime.date(2020, 3, 29), datetime.date(2020, 3, 30), datetime.date(2020, 3, 31), datetime.date(2020, 4, 1), datetime.date(2020, 4, 2), datetime.date(2020, 4, 3), datetime.date(2020, 4, 4)]], [[datetime.date(2020, 3, 29), datetime.date(2020, 3, 30), datetime.date(2020, 3, 31), datetime.date(2020, 4, 1), datetime.date(2020, 4, 2), datetime.date(2020, 4, 3), datetime.date(2020, 4, 4)], [datetime.date(2020, 4, 5), datetime.date(2020, 4, 6), datetime.date(2020, 4, 7), datetime.date(2020, 4, 8), datetime.date(2020, 4, 9), datetime.date(2020, 4, 10), datetime.date(2020, 4, 11)], [datetime.date(2020, 4, 12), datetime.date(2020, 4, 13), datetime.date(2020, 4, 14), datetime.date(2020, 4, 15), datetime.date(2020, 4, 16), datetime.date(2020, 4, 17), datetime.date(2020, 4, 18)], [datetime.date(2020, 4, 19), datetime.date(2020, 4, 20), datetime.date(2020, 4, 21), datetime.date(2020, 4, 22), datetime.date(2020, 4, 23), datetime.date(2020, 4, 24), datetime.date(2020, 4, 25)], [datetime.date(2020, 4, 26), datetime.date(2020, 4, 27), datetime.date(2020, 4, 28), datetime.date(2020, 4, 29), datetime.date(2020, 4, 30), datetime.date(2020, 5, 1), datetime.date(2020, 5, 2)]]]
[[[datetime.date(2020, 4, 26), datetime.date(2020, 4, 27), datetime.date(2020, 4, 28), datetime.date(2020, 4, 29), datetime.date(2020, 4, 30), datetime.date(2020, 5, 1), datetime.date(2020, 5, 2)], [datetime.date(2020, 5, 3), datetime.date(2020, 5, 4), datetime.date(2020, 5, 5), datetime.date(2020, 5, 6), datetime.date(2020, 5, 7), datetime.date(2020, 5, 8), datetime.date(2020, 5, 9)], [datetime.date(2020, 5, 10), datetime.date(2020, 5, 11), datetime.date(2020, 5, 12), datetime.date(2020, 5, 13), datetime.date(2020, 5, 14), datetime.date(2020, 5, 15), datetime.date(2020, 5, 16)], [datetime.date(2020, 5, 17), datetime.date(2020, 5, 18), datetime.date(2020, 5, 19), datetime.date(2020, 5, 20), datetime.date(2020, 5, 21), datetime.date(2020, 5, 22), datetime.date(2020, 5, 23)], [datetime.date(2020, 5, 24), datetime.date(2020, 5, 25), datetime.date(2020, 5, 26), datetime.date(2020, 5, 27), datetime.date(2020, 5, 28), datetime.date(2020, 5, 29), datetime.date(2020, 5, 30)], [datetime.date(2020, 5, 31), datetime.date(2020, 6, 1), datetime.date(2020, 6, 2), datetime.date(2020, 6, 3), datetime.date(2020, 6, 4), datetime.date(2020, 6, 5), datetime.date(2020, 6, 6)]], [[datetime.date(2020, 5, 31), datetime.date(2020, 6, 1), datetime.date(2020, 6, 2), datetime.date(2020, 6, 3), datetime.date(2020, 6, 4), datetime.date(2020, 6, 5), datetime.date(2020, 6, 6)], [datetime.date(2020, 6, 7), datetime.date(2020, 6, 8), datetime.date(2020, 6, 9), datetime.date(2020, 6, 10), datetime.date(2020, 6, 11), datetime.date(2020, 6, 12), datetime.date(2020, 6, 13)], [datetime.date(2020, 6, 14), datetime.date(2020, 6, 15), datetime.date(2020, 6, 16), datetime.date(2020, 6, 17), datetime.date(2020, 6, 18), datetime.date(2020, 6, 19), datetime.date(2020, 6, 20)], [datetime.date(2020, 6, 21), datetime.date(2020, 6, 22), datetime.date(2020, 6, 23), datetime.date(2020, 6, 24), datetime.date(2020, 6, 25), datetime.date(2020, 6, 26), datetime.date(2020, 6, 27)], [datetime.date(2020, 6, 28), datetime.date(2020, 6, 29), datetime.date(2020, 6, 30), datetime.date(2020, 7, 1), datetime.date(2020, 7, 2), datetime.date(2020, 7, 3), datetime.date(2020, 7, 4)]]]
[[[datetime.date(2020, 6, 28), datetime.date(2020, 6, 29), datetime.date(2020, 6, 30), datetime.date(2020, 7, 1), datetime.date(2020, 7, 2), datetime.date(2020, 7, 3), datetime.date(2020, 7, 4)], [datetime.date(2020, 7, 5), datetime.date(2020, 7, 6), datetime.date(2020, 7, 7), datetime.date(2020, 7, 8), datetime.date(2020, 7, 9), datetime.date(2020, 7, 10), datetime.date(2020, 7, 11)], [datetime.date(2020, 7, 12), datetime.date(2020, 7, 13), datetime.date(2020, 7, 14), datetime.date(2020, 7, 15), datetime.date(2020, 7, 16), datetime.date(2020, 7, 17), datetime.date(2020, 7, 18)], [datetime.date(2020, 7, 19), datetime.date(2020, 7, 20), datetime.date(2020, 7, 21), datetime.date(2020, 7, 22), datetime.date(2020, 7, 23), datetime.date(2020, 7, 24), datetime.date(2020, 7, 25)], [datetime.date(2020, 7, 26), datetime.date(2020, 7, 27), datetime.date(2020, 7, 28), datetime.date(2020, 7, 29), datetime.date(2020, 7, 30), datetime.date(2020, 7, 31), datetime.date(2020, 8, 1)]], [[datetime.date(2020, 7, 26), datetime.date(2020, 7, 27), datetime.date(2020, 7, 28), datetime.date(2020, 7, 29), datetime.date(2020, 7, 30), datetime.date(2020, 7, 31), datetime.date(2020, 8, 1)], [datetime.date(2020, 8, 2), datetime.date(2020, 8, 3), datetime.date(2020, 8, 4), datetime.date(2020, 8, 5), datetime.date(2020, 8, 6), datetime.date(2020, 8, 7), datetime.date(2020, 8, 8)], [datetime.date(2020, 8, 9), datetime.date(2020, 8, 10), datetime.date(2020, 8, 11), datetime.date(2020, 8, 12), datetime.date(2020, 8, 13), datetime.date(2020, 8, 14), datetime.date(2020, 8, 15)], [datetime.date(2020, 8, 16), datetime.date(2020, 8, 17), datetime.date(2020, 8, 18), datetime.date(2020, 8, 19), datetime.date(2020, 8, 20), datetime.date(2020, 8, 21), datetime.date(2020, 8, 22)], [datetime.date(2020, 8, 23), datetime.date(2020, 8, 24), datetime.date(2020, 8, 25), datetime.date(2020, 8, 26), datetime.date(2020, 8, 27), datetime.date(2020, 8, 28), datetime.date(2020, 8, 29)], [datetime.date(2020, 8, 30), datetime.date(2020, 8, 31), datetime.date(2020, 9, 1), datetime.date(2020, 9, 2), datetime.date(2020, 9, 3), datetime.date(2020, 9, 4), datetime.date(2020, 9, 5)]]]
[[[datetime.date(2020, 8, 30), datetime.date(2020, 8, 31), datetime.date(2020, 9, 1), datetime.date(2020, 9, 2), datetime.date(2020, 9, 3), datetime.date(2020, 9, 4), datetime.date(2020, 9, 5)], [datetime.date(2020, 9, 6), datetime.date(2020, 9, 7), datetime.date(2020, 9, 8), datetime.date(2020, 9, 9), datetime.date(2020, 9, 10), datetime.date(2020, 9, 11), datetime.date(2020, 9, 12)], [datetime.date(2020, 9, 13), datetime.date(2020, 9, 14), datetime.date(2020, 9, 15), datetime.date(2020, 9, 16), datetime.date(2020, 9, 17), datetime.date(2020, 9, 18), datetime.date(2020, 9, 19)], [datetime.date(2020, 9, 20), datetime.date(2020, 9, 21), datetime.date(2020, 9, 22), datetime.date(2020, 9, 23), datetime.date(2020, 9, 24), datetime.date(2020, 9, 25), datetime.date(2020, 9, 26)], [datetime.date(2020, 9, 27), datetime.date(2020, 9, 28), datetime.date(2020, 9, 29), datetime.date(2020, 9, 30), datetime.date(2020, 10, 1), datetime.date(2020, 10, 2), datetime.date(2020, 10, 3)]], [[datetime.date(2020, 9, 27), datetime.date(2020, 9, 28), datetime.date(2020, 9, 29), datetime.date(2020, 9, 30), datetime.date(2020, 10, 1), datetime.date(2020, 10, 2), datetime.date(2020, 10, 3)], [datetime.date(2020, 10, 4), datetime.date(2020, 10, 5), datetime.date(2020, 10, 6), datetime.date(2020, 10, 7), datetime.date(2020, 10, 8), datetime.date(2020, 10, 9), datetime.date(2020, 10, 10)], [datetime.date(2020, 10, 11), datetime.date(2020, 10, 12), datetime.date(2020, 10, 13), datetime.date(2020, 10, 14), datetime.date(2020, 10, 15), datetime.date(2020, 10, 16), datetime.date(2020, 10, 17)], [datetime.date(2020, 10, 18), datetime.date(2020, 10, 19), datetime.date(2020, 10, 20), datetime.date(2020, 10, 21), datetime.date(2020, 10, 22), datetime.date(2020, 10, 23), datetime.date(2020, 10, 24)], [datetime.date(2020, 10, 25), datetime.date(2020, 10, 26), datetime.date(2020, 10, 27), datetime.date(2020, 10, 28), datetime.date(2020, 10, 29), datetime.date(2020, 10, 30), datetime.date(2020, 10, 31)]]]
[[[datetime.date(2020, 11, 1), datetime.date(2020, 11, 2), datetime.date(2020, 11, 3), datetime.date(2020, 11, 4), datetime.date(2020, 11, 5), datetime.date(2020, 11, 6), datetime.date(2020, 11, 7)], [datetime.date(2020, 11, 8), datetime.date(2020, 11, 9), datetime.date(2020, 11, 10), datetime.date(2020, 11, 11), datetime.date(2020, 11, 12), datetime.date(2020, 11, 13), datetime.date(2020, 11, 14)], [datetime.date(2020, 11, 15), datetime.date(2020, 11, 16), datetime.date(2020, 11, 17), datetime.date(2020, 11, 18), datetime.date(2020, 11, 19), datetime.date(2020, 11, 20), datetime.date(2020, 11, 21)], [datetime.date(2020, 11, 22), datetime.date(2020, 11, 23), datetime.date(2020, 11, 24), datetime.date(2020, 11, 25), datetime.date(2020, 11, 26), datetime.date(2020, 11, 27), datetime.date(2020, 11, 28)], [datetime.date(2020, 11, 29), datetime.date(2020, 11, 30), datetime.date(2020, 12, 1), datetime.date(2020, 12, 2), datetime.date(2020, 12, 3), datetime.date(2020, 12, 4), datetime.date(2020, 12, 5)]], [[datetime.date(2020, 11, 29), datetime.date(2020, 11, 30), datetime.date(2020, 12, 1), datetime.date(2020, 12, 2), datetime.date(2020, 12, 3), datetime.date(2020, 12, 4), datetime.date(2020, 12, 5)], [datetime.date(2020, 12, 6), datetime.date(2020, 12, 7), datetime.date(2020, 12, 8), datetime.date(2020, 12, 9), datetime.date(2020, 12, 10), datetime.date(2020, 12, 11), datetime.date(2020, 12, 12)], [datetime.date(2020, 12, 13), datetime.date(2020, 12, 14), datetime.date(2020, 12, 15), datetime.date(2020, 12, 16), datetime.date(2020, 12, 17), datetime.date(2020, 12, 18), datetime.date(2020, 12, 19)], [datetime.date(2020, 12, 20), datetime.date(2020, 12, 21), datetime.date(2020, 12, 22), datetime.date(2020, 12, 23), datetime.date(2020, 12, 24), datetime.date(2020, 12, 25), datetime.date(2020, 12, 26)], [datetime.date(2020, 12, 27), datetime.date(2020, 12, 28), datetime.date(2020, 12, 29), datetime.date(2020, 12, 30), datetime.date(2020, 12, 31), datetime.date(2021, 1, 1), datetime.date(2021, 1, 2)]]]

# yeardayscalendar(year,width=3) – List of day of month

In [25]:
for i in c.yeardayscalendar(2020,3):
        print(i)

[[[0, 0, 0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 31, 0]], [[0, 0, 0, 0, 0, 0, 1], [2, 3, 4, 5, 6, 7, 8], [9, 10, 11, 12, 13, 14, 15], [16, 17, 18, 19, 20, 21, 22], [23, 24, 25, 26, 27, 28, 29]], [[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12, 13, 14], [15, 16, 17, 18, 19, 20, 21], [22, 23, 24, 25, 26, 27, 28], [29, 30, 31, 0, 0, 0, 0]]]
[[[0, 0, 0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 0, 0]], [[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 30], [31, 0, 0, 0, 0, 0, 0]], [[0, 1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12, 13], [14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27], [28, 29, 30, 0, 0, 0, 0]]]
[[[0, 0, 0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24, 25], [26, 27, 28, 29, 30, 31, 0]], [[0, 0, 0, 0, 0, 0, 1], [2, 3, 4, 5, 6, 7, 8], [9, 10, 11, 12, 13, 14, 15], [16, 17, 18, 19, 20, 21, 22], [23, 24, 25, 26, 27, 28, 29], [30, 31, 0, 0, 0, 0, 0]], [[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 0, 0, 0]]]
[[[0, 0, 0, 0, 1, 2, 3], [4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 31]], [[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12, 13, 14], [15, 16, 17, 18, 19, 20, 21], [22, 23, 24, 25, 26, 27, 28], [29, 30, 0, 0, 0, 0, 0]], [[0, 0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 31, 0, 0]]]

# yeardays2calendar(year,width=3) – List of day of month and day of week

In [ ]:
for i in c.yeardays2calendar(2020,3):
        print(i)

# TextCalendar Class

In [27]:
t=cd.TextCalendar(firstweekday=6)

In [28]:
t.formatmonth(2020,1)

'    January 2020\nSu Mo Tu We Th Fr Sa\n          1  2  3  4\n 5  6  7  8  9 10 11\n12 13 14 15 16 17 18\n19 20 21 22 23 24 25\n26 27 28 29 30 31\n'

In [29]:
print(t.formatmonth(2020,1,w=0,l=0))

    January 2020
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [30]:
t.prmonth(2020,1,w=3,l=2)

        January 2020

Sun Mon Tue Wed Thu Fri Sat

              1   2   3   4

  5   6   7   8   9  10  11

 12  13  14  15  16  17  18

 19  20  21  22  23  24  25

 26  27  28  29  30  31

# formatyear(theyear,[w=2,l=1,c=6,m=3])

In [31]:
t.formatyear(2020,w=3,l=2,m=4) # m is 3 by default
t.pryear(2020,w=3,l=2,m=4)

                                                             2020



          January                          February                          March                            April

Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat

              1   2   3   4                                1        1   2   3   4   5   6   7                    1   2   3   4

  5   6   7   8   9  10  11        2   3   4   5   6   7   8        8   9  10  11  12  13  14        5   6   7   8   9  10  11

 12  13  14  15  16  17  18        9  10  11  12  13  14  15       15  16  17  18  19  20  21       12  13  14  15  16  17  18

 19  20  21  22  23  24  25       16  17  18  19  20  21  22       22  23  24  25  26  27  28       19  20  21  22  23  24  25

 26  27  28  29  30  31           23  24  25  26  27  28  29       29  30  31                       26  27  28  29  30



            May                              June                             July                            August

Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat

                      1   2            1   2   3   4   5   6                    1   2   3   4                                1

  3   4   5   6   7   8   9        7   8   9  10  11  12  13        5   6   7   8   9  10  11        2   3   4   5   6   7   8

 10  11  12  13  14  15  16       14  15  16  17  18  19  20       12  13  14  15  16  17  18        9  10  11  12  13  14  15

 17  18  19  20  21  22  23       21  22  23  24  25  26  27       19  20  21  22  23  24  25       16  17  18  19  20  21  22

 24  25  26  27  28  29  30       28  29  30                       26  27  28  29  30  31           23  24  25  26  27  28  29

 31                                                                                                 30  31



         September                         October                          November                         December

Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat      Sun Mon Tue Wed Thu Fri Sat

          1   2   3   4   5                        1   2   3        1   2   3   4   5   6   7                1   2   3   4   5

  6   7   8   9  10  11  12        4   5   6   7   8   9  10        8   9  10  11  12  13  14        6   7   8   9  10  11  12

 13  14  15  16  17  18  19       11  12  13  14  15  16  17       15  16  17  18  19  20  21       13  14  15  16  17  18  19

 20  21  22  23  24  25  26       18  19  20  21  22  23  24       22  23  24  25  26  27  28       20  21  22  23  24  25  26

 27  28  29  30                   25  26  27  28  29  30  31       29  30                           27  28  29  30  31

# Python HTMLCalendar

In [32]:
h=cd.HTMLCalendar()

In [33]:
# MONTH FORMAT

print(h.formatmonth(2020,1))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2020</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

# formatyear(theyear,width=3)

In [34]:
print(h.formatyear(2020,3))

<table border="0" cellpadding="0" cellspacing="0" class="year">
<tr><th colspan="3" class="year">2020</th></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">February</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">March</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sun">1</td></tr>
<tr><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td><td class="sun">8</td></tr>
<tr><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td><td class="sun">15</td></tr>
<tr><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td><td class="sun">22</td></tr>
<tr><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td><td class="sun">29</td></tr>
<tr><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">April</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">May</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td></tr>
<tr><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td></tr>
<tr><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td></tr>
<tr><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td></tr>
<tr><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="sun">31</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">June</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">July</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">August</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="sun">30</td></tr>
<tr><td class="mon">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">October</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="sat">31</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">November</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sun">1</td></tr>
<tr><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td><td class="sun">8</td></tr>
<tr><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td><td class="sun">15</td></tr>
<tr><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td><td class="sun">22</td></tr>
<tr><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td><td class="sun">29</td></tr>
<tr><td class="mon">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">December</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="thu">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr></table>

# Functions in the Python Calendar Module

In [36]:
import calendar as cd

In [37]:
cd.isleap(2020) # Whether a year is leap

True

In [38]:
cd.leapdays(2000,2020) # Number of leap years in range

5

In [39]:
cd.weekday(2020,1,1) # returns the day of week

2

In [40]:
cd.weekheader(1) # Abbreviated weekday names

'M T W T F S S'

In [41]:
cd.weekheader(3) # Abbreviated weekday names

'Mon Tue Wed Thu Fri Sat Sun'

In [42]:
cd.monthrange(2020,1) # First day of month, number of days

(2, 31)

In [43]:
cd.month(2018,12)
cd.prmonth(2018,12)

   December 2018
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [44]:
t.firstweekday

6

In [45]:
cd.setfirstweekday(cd.SATURDAY)

In [46]:
cd.firstweekday()

5