### Write a program to print I using stars

In [6]:
for row in range(7):
    for col in range(4):
        if(col == 3) or (row == 0 and col!=3) or (row == 6 and col<3):
            print("* ", end="")
        else:
            print(end=" ")
    print()

* * * *
   *
   *
   *
   *
   *
* * * *

### Write a program to print J using stars

In [9]:
for row in range(7):
    for col in range(5):
        if(col == 2) or (row == 0) or (row == 6 and col<3):
            print("*", end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
***

### WAP to print K

In [10]:
for row in range(7):
    for col in range(6):
        if((col == 0) or ((row == 0 or row==6) and (col == 5))
                        or ((row==1 or row==5) and (col==4))
                        or ((row==2 or row==4) and (col==3))
                        or ((row==3) and(col==2))): 
            print("*", end="")
        else:
            print(end=" ")
    print()

*    *
*   *
*  *
* *
*  *
*   *
*    *

### WAP to print L

In [8]:
for row in range(7):
    for col in range(6):
        if(col==0 or row==6):
            print("* ", end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
* * * * * *

### WAP to print M

In [23]:
for row in range(7):
    for col in range(7):
        if((col==0 or col==6) or (row==col and (col>0 and col<4)) or (row==1 and col==5) or (row==2 and col==4)):
            print("*", end="")
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

### WAP to print N

In [25]:
for row in range(7):
    for col in range(7):
        if((col==0 or col==6) or (row==col)):
            print("*", end="")
        else:
            print(end= " ")
    print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

### WAP to print O

In [12]:
for row in range(8):
    for col in range(5):
        if((col==0 or col==4) and (row>0 and row<6) or (row==0 or row==6) and (col>0 and col<4)):
            print("*", end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

### WAP to print P

In [11]:
for row in range(8):
    for col in range(7):
        if((col==0 or (row == 0 and col<5)) or (col==4 and row<4) or (row==3 and col<4)):
            print("*", end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*
*
*
*

### WAP to print R

In [17]:
for row in range(8):
    for col in range(7):
        if((col==0 or row==0) or (col==7 and row<5)):
            print("*", end="")
        else:
            print(end=" ")
    print()

*******
*
*
*
*
*
*
*

### Write a program to print a pyramid of stars

In [13]:
n = int(input("Enter the number of rows : "))
for i in range(1, n+1):
    for j in range(1, n-i+1):
        print(" ", end=" ")
    for k in range(1, i+1):
        print("*", end=" ")
    for l in range(1, i):
        print("*", end=" ")
    print()

Enter the number of rows : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### WAP to print the following program

In [3]:
n = int(input("Enter the number of rows : "))
num = 1
gap = n - 1
for j in range(1, n+1):
    num = j
    for i in range(1, gap+1):
        print(" ", end=" ")
    gap = gap - 1

    for i in range(1, j+1):
        print(num, end=" ")
        num = num + 1

    num = num - 2

    for i in range(1, j):
        print(num, end=" ")
        num = num - 1

    print()

Enter the number of rows : 5
      1
    2 3 2
  3 4 5 4 3
4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

### Write a program to print the following pattern

In [15]:
n = int(input("Enter the number of rows : "))

num = 65      # initiate with ascii value of  capital A

for i in range(0,n):
    for j in range(0,i+1):
        a = chr(num)
        print(a, end=" ")
        num = num + 1
    print()

Enter the number of rows : 8
A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \
] ^ _ ` a b c d

### WAP to find largest of two numbers without using function

In [4]:
n1 = int(input("Enter first number : "))
n2 = int(input("Enter second number : "))

if (n1 > n2):
    print("The largest number between the two is : ", n1)
else:
    print("The largest of the two numbers is : ", n2)

Enter first number : 1
Enter second number : 0
The largest number between the two is :  1

### WAP to find largest of the 3 numbers without using a function

In [18]:
n1 = int(input("Enter first number : "))
n2 = int(input("Enter second number : "))
n3 = int(input("Enter third number : "))

if (n1>n2 and n1>n3):
    print("The number",n1,"is the greatest.")
elif(n2>n1 and n2>n3):
    print("The number",n2,"is the greatest.")
else:
    print("The number",n3,"is the greatest.")

Enter first number : 4
Enter second number : 3
Enter third number : 2
The number 4 is the greatest.

### WAP  to find the average of 10 numbers entered from the user

In [10]:
sum1=0
for i in range(0,10):
    n = int(input("Enter the number : "))
    sum1 = sum1+n
    average1 = sum1/10
print("The average is : ", average1)

Enter the number : 1
Enter the number : 2
Enter the number : 3
Enter the number : 4
Enter the number : 5
Enter the number : 6
Enter the number : 7
Enter the number : 8
Enter the number : 9
Enter the number : 10
The average is :  5.5

### WAP to find even and odd numbers from the list

In [7]:
list_1 = [1,2,3,4,5,6,7,8,9,0]

new_list = list(filter(lambda x: (x%2 == 0), list_1))
new_list1 = list(filter(lambda x: (x%2 != 0), list_1))
print("The list of even numbers is : ", new_list)
print("The list of odd numbers is : ",new_list1)

The list of even numbers is :  [2, 4, 6, 8, 0]
The list of odd numbers is :  [1, 3, 5, 7, 9]

### WAP to append elements of various datatypes (total 3 elements i.e 1 integer, 1 float and 1 string)

In [34]:
list1 = []
list1.append(2)
list1.append(3.4)
list1.append('Pooja')
print(list1)

[2, 3.4, 'Pooja']

### Write a program to illustrate the difference between append and extend functions in list.