In [ ]:
# csv

In [1]:
import pandas as pd
df= pd.read_csv("G:\\other\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# excel

In [5]:
df=pd.read_excel("G:\\other\\weather_data.xlsx","Sheet1")
df.head

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [ ]:
# using dictionaries

In [ ]:
import pandas as pd
weather_data= {'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
              'temp':[32,35,28,24,32,31,],
                'windspeed':[6,7,2,7,4,2],
                'event':['rain','sunny','snow','snow','rain','sunny']}
df=pd.DataFrame(weather_data)
df

In [ ]:
# using tuples in list

In [9]:
weather_data=[('1/1/2017',32,6,'Rain'),
             ('1/2/2017',23,3,'sunny'),
             (1/3/2017,45,7,'snow')]
df=pd.DataFrame(weather_data)
df

df=pd.DataFrame(data=weather_data, columns=['day','temp','windspeed','event'])
df

           day  temp  windspeed  event
0     1/1/2017    32          6   Rain
1     1/2/2017    23          3  sunny
2  0.000165262    45          7   snow

In [ ]:
# using dictionaries in list

In [12]:
weather_data= [
    {'day':'1/1/2017','temp':32,'windspeed':6,'event':'sunny'},
    {'day':'1/2/2017','temp':38,'windspeed':7,'event':'rain'},
    {'day':'1/3/2017','temp':35,'windspeed':4,'event':'snow'}
]
df=pd.DataFrame(data=weather_data)
df

        day  event  temp  windspeed
0  1/1/2017  sunny    32          6
1  1/2/2017   rain    38          7
2  1/3/2017   snow    35          4

In [ ]:
# other

In [ ]:
wt=np.random.randint(20,80,100)
ht=np.random.randint(100,200,100)
r_no=np.arange(1,101)
df2=pd.DataFrame({"roll_no":r_no, "Hieght":ht, "Wieght":wt})
df2
#df2=pd.DataFrame(df3, columns=col)

In [ ]:
df3=list(zip(r_no,ht,wt)
xyz=pd.DataFrame(df3,columns=col)
xyz