### Q1. Write a python program to create a new csv file that holds the data about 5 students and their marks: Roll no of student, name and marks scored in Mathematics, Science and English.

In [3]:
import csv
rowslist=[["Roll no.","Name","Marks in Maths","Marks in Science","Marks in English"],
         [1,"Ram",78,74,79],
         [2,"Rahim",68,64,69],
         [3,"Max",99,99,99],
         [4,"Sharukh",56,67,78],
         [5,"Suraj",34,87,65]]
with open("Marksmemo.csv","w",newline="") as file:
    writer= csv.writer(file)
    writer.writerows(rowslist)

In [7]:
import pandas as pd
mm = pd.read_csv('Marksmemo.csv')
mm

   Roll no.     Name  Marks in Maths  Marks in Science  Marks in English
0         1      Ram              78                74                79
1         2    Rahim              68                64                69
2         3      Max              99                99                99
3         4  Sharukh              56                67                78
4         5    Suraj              34                87                65

### Q2. Write a python to program to add to each record in the above csv file, the total marks and the percentage secured by each student. Then print its contents sorted in descending order of percentage.

In [9]:
with open('Marksmemo.csv', 'a') as csvfile:
    fieldnames = ["Total Marks"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'Total Marks': 231 })
    writer.writerow({'Total Marks': 201 })
    writer.writerow({'Total Marks': 297 })
    writer.writerow({'Total Marks': 200 })
    writer.writerow({'Total Marks': 186 })

### Q2. Write a python to program to add to each record in the above csv file, the total marks and the percentage secured by each student. Then print its contents sorted in descending order of percentage.

In [ ]:
import csv
rowslist=[["Roll no.","Name","Marks in Maths","Marks in Science","Marks in English"],
         [1,"Ram",78,74,79],
         [2,"Rahim",68,64,69],
         [3,"Max",99,99,99],
         [4,"Sharukh",56,67,78],
         [5,"Suraj",34,87,65]]
with open("Marksmemo.csv","w",newline="") as file:
    writer= csv.writer(file)
    writer.writerows(rowslist)
import pandas as pd
l1=[231,201,297,200,186]
l2=[]
for i in range(0,5):
    l2.append(l1[i]/3)
# print(l2)
tmarks = {"Total Marks":[231,201,297,200,186],
         "Percentage":[77,67,99,66.67,62]}
df1=pd.DataFrame(tmarks)
df=pd.read_csv('Marksmemo.csv')
df2=pd.concat([df,df1],axis=1)
df2.to_csv("Marksmemo.csv")
df2

### 3. Write a program to create a file that holds the mailing addresses of all the students in your class. Using this file, determine the different number of students using each of the different domains

In [ ]:
import pandas as pd
m={"name": ['max','jake','alex','steve','luna'],"email id" : ['max@gmail.com','jake@ymail.com','alex@yahoo.in','steve@gmail.com','luna@rediff.com'] }
#dictionary created for mail id,s
df3=pd.DataFrame(m)
#print(df3)
df3.to_csv('Mymailid.csv',mode='w',index=False)
new=[] # new list for adding mail id's
for mail in df3["email id"]: #for loop for mail id
    new.append(mail)
#print(new)
domain=[] # domain list to add domains
for yar in new: #for loop for split and adding in domain list
    k=yar.split('@')
    domain.append(k[1])
domain_unique=set(domain)
print("The various domains used are :- ",domain_unique)

### Q4. Create a file that contains the names of all the students in your class and the month in which their birthday falls. Write a program to find the names of all students whose birthday falls in the month of October

In [ ]:
import pandas as pd
dict1={"Names":['max','jake','alex','steve','luna'],
     "Birthdays":['april','march','october','january','october']}
df4=pd.DataFrame(dict1)
#print(df4)
df4.to_csv("mybirth.csv",mode='w',index=False)
for val in range (len(df4["Birthdays"])):
    if df4['Birthdays'][val]=='october':
        print("students born in october ",(df4['Names'][val]))

### Q5. Write a program to create a list of lists. The element list should be factors of the indices of the list.

In [2]:
def factors(n):
    from functools import reduce
    return list(reduce(list.__add__,([i, n//i] for i in range(1, int(n**0.5) + 1) if n % i == 0)))
def lister():
    n=int(input("enter your number"))
    x=[]
    x.append([0])
    for i in range(1,n+1):
        factors(i)
        x.append(factors(i))
    return(print(x))
lister()

enter your number10
[[0], [1, 1], [1, 2], [1, 3], [1, 4, 2, 2], [1, 5], [1, 6, 2, 3], [1, 7], [1, 8, 2, 4], [1, 9, 3, 3], [1, 10, 2, 5]]

### Q6. Develop a Phone-Book using dictionaries and search for a particular name then display it

In [ ]:
import pandas as pd
choice=input("enter the name:- ")
dict={'names':['max','jake','alex','steve','luna'],
     'phno':['8692876768','9856987412','9987411128','8741147561','9877466357']}
df5=pd.DataFrame(dict)
df5.to_csv("myphno.csv",mode='w',index=False)

for val in range (len(df5["names"])):
    if df5['names'][val]==choice:
        print(df5['names'][val],"phone number is :-",(df5['phno'][val]))

### Q7. Write a Python program to combine two dictionary adding values for common keys.

In [ ]:
# d is getting added to itsel i donot understand why
dict1 = {'a': 500, 'b': 200, 'c':300}
dict2 = {'a': 300, 'b': 400, 'd':500}

d3 = (dict1)
d3.update(dict2)
print(d3)

for i,j in dict1.items():
    for a,b in dict2.items():
        if i==a:
            ob1[i]=dict1[i]+dict2[i]
        else:
            pass  #j+b

print(ob1)

### Q8. Write a program to display all the unique values in the given list of dictionaries:
##### Sample Data: [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"},{"V":"S009"},{"VIII":"S007"}]

In [49]:
l1 = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
set1=set()
for i in l1:
    for j in i.values():
        set1.add(j)
        unique_values=set
print("The unique values are:",unique_values)

The unique values are: {'S001', 'S009', 'S002', 'S007', 'S005'}

### Q9. Create a program that counts the total number of words, total number of punctuation marks anddisplays the most frequently occurring word from the following paragraph:
Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964, in Albuquerque,
New Mexico. Bezos had an early love of computers and studied computer science and electrical
engineering at Princeton University. After graduation he worked on Wall Street, and in 1990 he
became the youngest senior vice president at the investment firm D.E. Shaw. Four years later, he
quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the internet's
biggest success stories. In 2013, Bezos purchased The Washington Post in a $250 million deal. His
successful business ventures have made him one of the richest people in the world!

In [51]:
z="""Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12 , 1964 , in Albuquerque ,
New Mexico . Bezos had an early love of computers and studied computer science and electrical
engineering at Princeton University . After graduation he worked on Wall Street, and in 1990 he
became the youngest senior vice president at the investment firm D . E . Shaw. Four years later, he
quit his lucrative job to open Amazon . com , a virtual bookstore that became one of the internet ' s
biggest success stories . In 2013 , Bezos purchased The Washington Post in a $ 250 million deal . His
successful business ventures have made him one of the richest people in the world !"""

import string
punct=[] 
for char in z :
    if char in string.punctuation :
        punct.append(char)
for ch in '.,!$':
    z=z.replace(ch,' ')

zlist = z.split()
zcount=[]
for i in zlist:
    if i.isalpha()==True:
        zcount.append(i)
        
zdict={}
for i in zcount:
    if i in zdict:
        zdict[i]=zdict[i]+1
    else:
        zdict[i]=1
max_count = [(value, key) for key, value in zdict.items()]

print('The total number of words in the paragraph is',len(zcount))
print('Total Punctuations are:- ',len(punct))
print ('The most frequent occuring word in the paragraph is',"'",max(max_count)[1],"'",'occuring',max(max_count)[0],'times')

The total number of words in the paragraph is 103
Total Punctuations are:-  19
The most frequent occuring word in the paragraph is ' the ' occuring 5 times

### Q10. From the above paragraph, extract all the years mentioned.

In [46]:
z="""Entrepreneur and e-commerce pioneer Jeff Bezos was born on January 12, 1964 , in Albuquerque, New Mexico. 
Bezos had an early love of computers and studied computer science and electrical engineering at Princeton University. 
After graduation he worked on Wall Street, and in 1990 he became the youngest senior vice president at the investment firm
D.E. Shaw. Four years later, he quit his lucrative job to open Amazon.com, a virtual bookstore that became one of the 
internet's biggest success stories. In 2013 , Bezos purchased The Washington Post in a $250 million deal. His successful 
business ventures have made him one of the richest people in the world!"""
def extractyear(z):
    zlist=z.split()
    a1=[]
    for i in zlist:
        if i.isdigit() and len(i)==4:
            a1.append(i)
    return(print(a1))
extractyear(z)

['1964', '1990', '2013']