In [1]:
#Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included). 
for i in range(1500,2701):
    if(i%7==0) and (i%5==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [2]:
#celsius to farh
c=float(input("enter the temp in cel"))
f=(c*1.8)+32
print(f)

#farh to cel
f=float(input("enter the temp in farh"))
c=(f-32)/1.8
print(c)

enter the temp in cel6
42.8
enter the temp in farh8
-13.333333333333332

In [3]:
#reversing a word
a=input("enter the word")
print(a[::-1])

enter the wordaabbcc
ccbbaa

In [4]:
#square root
n=int(input("enter the number"))
sqrt=n**0.5
print(sqrt)

enter the number16
4.0

In [5]:
#area of triangle
base=float(input("enter the base"))
height=float(input("enter the height"))
area=(base*height)/2
print(area)

enter the base5
enter the height5
12.5

In [7]:
#quardtic equation
import cmath
a=4
b=8
c=16
d=(b**2)-(4*a*c)
a1 = (-b-cmath.sqrt(d))/(2*a)
a2 = (-b+cmath.sqrt(d))/(2*a)
print("solution is",a1,"and",a2)

solution is (-1-1.7320508075688772j) and (-1+1.7320508075688772j)

In [8]:
#swapping
a,b=5,10
temp=a
a=b
b=temp
print(a,b)

10 5

In [10]:
#random number generator
import random
a=random.randint(10,15)
print(a)

10

In [11]:
#sum of natural number
num=int(input("enter the number"))
natural=num*(num+1)/2
print(natural)

enter the number5
15.0

In [12]:
#kilometers into miles
km=float(input("enter the kilometers"))
miles=km*0.6213
print(miles)

enter the kilometers10
6.212999999999999

In [13]:
#largest among three numbers
n1=input("enter the first number")
n2=input("enter the second number")
n3=input("enter the third number")
if(n1>n2) and(n1>n3):
    print(n1)
elif(n2>n1) and(n2>n3):
    print(n2)
else:
    print(n3)

enter the first number1
enter the second number2
enter the third number3
3

In [14]:
#leap year
year=int(input("enter the year"))
if(year%4==0) and  (year%100!=0) or (year%400==0):
    print("it is a leap year")
else:
    print("this is not a leap year")

enter the year2016
it is a leap year

In [15]:
#positive negative or zero
num=int(input("enter a number"))
if(num>0):
    print("It is a positive number")
elif(num<0):
        print("it is a negative number")
else:
    print("it is zero")

enter a number55
It is a positive number

In [17]:
#prime number between 23 and 26
num=int(input("enter the number"))
for num in range(23,27):
    for i in range(2,num):
        if(num%i==0):
            print(num,"it is not a prime number")
            break
    else:
         print(num,"is prime number")

enter the number23
23 is prime number
24 it is not a prime number
25 it is not a prime number
26 it is not a prime number

In [18]:
#factorial
f=1
num=int(input("enter the number"))
if(num==0):
    print("factorial is 1" )
else:
    for i in range(1,num+1):
          f=f*i
    print("factorial of", num ,"is",f)

enter the number5
factorial of 5 is 120

In [23]:
# multiplication table
n=20
for i in range(1,11):
    table=n*i
    print("\t\t\t",n ,"x", i ,"=", table)

			 20 x 1 = 20
			 20 x 2 = 40
			 20 x 3 = 60
			 20 x 4 = 80
			 20 x 5 = 100
			 20 x 6 = 120
			 20 x 7 = 140
			 20 x 8 = 160
			 20 x 9 = 180
			 20 x 10 = 200

In [24]:
#armstrong
num=int(input("enter the number"))
a=num**3
print("armstrong of 5 is",a)

enter the number5
armstrong of 5 is 125

In [25]:
#natural numbers
num=int(input("enter the number"))
n=num*(num+1)/2
print(n)

enter the number60
1830.0

In [26]:
#calculator
x=int(input("enter a number"))
y=int(input("enter a number"))
add=x+y
sub=x-y
mul=x*y
div=x/y
print(add,sub,mul,div)

enter a number20
enter a number4
24 16 80 5.0

In [29]:
# palindrome
a=input("enter a number")
if(a==a[::-1]):
    print("number is palindrome")
else:
    print("number is not palindrome")

enter a number1221
number is palindrome

In [31]:
#hcf
x=2
y=10
def hcf(x, y):
    while(y):
        x, y = y, x % y
    return x
print(x)

2

In [32]:
#sort i alphabetical order
a=['q','w','r','h','j','a','b','r']
a.sort()
print(a)

['a', 'b', 'h', 'j', 'q', 'r', 'r', 'w']

In [33]:
#function to add two numbers
def add(x,y):
    ad=x+y
    return ad
add(2,4)

6

In [34]:
#avg of two numbers
def avg(x,y):
    a=(x+y)/2
    return a
avg(5,5)

5.0

In [40]:
#square of sum of two variable
def sq_sum(x,y):
    x=int(input("enter first no.: "))
    y=int(input("enter second no.: "))
    a=x**2+y**2
    return(a)
sq_sum(x,y)

enter first no.: 4
enter second no.: 5

41

In [41]:
#Write a function to check whether the number is in the range 50 to 100.
def a(x):
    if(50<=x<100):
        print("number in range")
    else:
        print("number in not in range")
    return x
a(56)

number in range

56

## patten

In [42]:
n=int(input('enter the number of rows'))
for i in range(0,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter the number of rows6

1
12
123
1234
12345
123456

In [43]:
n=int(input("enter the number"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

enter the number6
123456
12345
1234
123
12
1

In [44]:
n=int(input('enter the number of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

enter the number of rows6
*
**
***
****
*****
******

In [45]:
a=int(input("enter the order"))
c=ord('A')
d=1
for i in  range(a,0,-1):
    for j in range(i):
        print(end="  ")
    for k in range(0,d):
        print(chr(c-k),end=' ')
    d=d+1
    c=c+d
    print()

enter the order6
            A
          C B
        F E D
      J I H G
    O N M L K
  U T S R Q P

In [46]:
n=int(input("enter the number"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end='  ')
    print()
#n=int(input("enter the number"))
for i in range(1,n):
    for j in range(0,i+1):
        print("*",end='  ')
    print()

enter the number6
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [47]:
num=int(input("enter the number"))
for i in range(num,1,-1):
    for j in range(0,num-i+1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end='')
    print()
#num=int(input("enter the number"))
for i in range(0,num+1):
    for j in range(0,num-i+1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end='')
    print()

enter the number6
 *******
  ******
   *****
    ****
     ***
       *
      **
     ***
    ****
   *****
  ******
 *******

In [48]:
num=int(input("enter the number"))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end='')
    print()

enter the number6
     *
    **
   ***
  ****
 *****
******

In [50]:
# num=5
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [51]:
num=9
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print()
#num=int(input("enter the number"))
for i in range(num-1,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for k in range(0,i):
        print("*",end=" ")
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [53]:
num=7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for k in range(0,i+1):
        print("*",end="")
    print()
#num=int(input("enter the number"))
for i in range(num-1,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for k in range(0,i):
        print("*",end="")
    print()

      *
     **
    ***
   ****
  *****
 ******
*******
 ******
  *****
   ****
    ***
     **
      *

In [54]:
num=5
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end="")
    for k in range(0,i+1):
        print("*",end=" ")
    print()
#num=int(input("enter the number"))
for i in range(num-1,0,-1):
    for j in range(0,num-i):
        print(end="")
    for k in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [56]:
num=9
#num=int(input("enter the number"))
for i in range(num-1,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for k in range(0,i):
        print("*",end=" ")
    print()
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [57]:
# A pattern
for i in range(1,8):
    for j in range(1,6):
        if(((i==1 and (j>=2 and j<=4)) or ((j==1 or j==5) and (i>=2 and i<=7) or(i==4)))):
            print('*',end=" ")
        else:
            print(end="  ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *